.dx-fieldset{

    margin-left: 10vw;
    margin-right: 10vw;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;
    align-items: stretch;
  }

  .column-left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: stretch;
  }

  .column-right {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 150px;
    margin-right: 0;
  }

  .indicator-column {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 15px;
  }

  .form-box{
    margin-bottom: 50px;
  }

#small-indicator,
#medium-indicator,
#large-indicator {
  vertical-align: middle;
  margin-right: 10px;
}